<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="?c=Activity&a=listActivity"><!--<i class="icon-envelope">--><i class="icon-list-alt"></i><span class="hidden-tablet"> 承诺管理</span></a></li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet"> 留言管理</span><span class="label label-important"> 2 </span></a>
							<ul>
								<li><a class="submenu" href="?m=admin&c=message&a=listmessage&agree_id=1"><i class="icon-file-alt"></i><span class="hidden-tablet">承诺一</span></a></li>
								<li><a class="submenu" href="?m=admin&c=message&a=listmessage&agree_id=2"><i class="icon-file-alt"></i><span class="hidden-tablet">承诺二</span></a></li>
							</ul>	
						</li>
					</ul>
				</div>
			</div>